.baloon {
    background: #ffffff;
    width: 100px;
    height: 120px;
    position: absolute;
    top: -200px;
    left: 0px;
    transform: translate(-50%);
    border-radius: 50%;
  }
  .baloon:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -24px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 25px 25px 0 25px;
    border-color: #ffffff transparent transparent transparent;
  }
  .baloonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }