@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

.nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: azure;
    margin: 0;
    padding: 20px;
    
}
li:first-child{
    margin-right: auto;
}
@keyframes blinkEffect {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.title {
    animation: blinkEffect 2s ease-in-out infinite alternate;
    color:aquamarine;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
}
.pages {
    
    color: orange;
    font-size: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    vertical-align: baseline;
}
a:link, a:visited, a:hover, a:active {
    color: orange;
  }
.calendar {
    margin-right: 15px;
}
.calendar:hover {
    opacity: 50%;
}
.map {
    padding-right: 20px;
}
.map:hover {
    opacity: 50%;
}