@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

.nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: azure;
    margin: 0;
    padding: 20px;
}
li:first-child{
    margin-right: auto;
}
.title {
    color:aquamarine;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
}
.pages {
    text-decoration: none;
    color: orange;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
}
.pages:visited{
    color: orange;
}
.calendar {
    margin-right: 15px;
}
.calendar:hover {
    opacity: 50%;
}
.map {
    padding-right: 20px;
}
.map:hover {
    opacity: 50%;
}